// Cases

  
  #cases,#recommendations {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: hidden;
  }

  #cases{
    #history-chart, #statistics-table{
      flex-grow: 0;
      padding: 10px;
      background-color: $k-white;
      margin-top: 10px;
      border-radius: 10px;
      width: max-content;
    }

    #statistics-table{
      margin-left: 10px;
      width: 200px;
    }

    
  }
    
