// case

#case {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .case-small-text{
    display: flex;
    padding: 10px 0px;
    
    small{
      padding: 0px 40px 0 0
    }
  }
  
  .case-top{
    padding: 20px 30px;
  }
  
  .diagram-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $bs-gray2;
    flex-grow: 1;
    padding: 10px;
  }
  
  .recommendations-list {
    min-width: 200px;
  
    h4 {
      padding-right: 10px;
    }
  
    .recommendation {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;
      border: 1px solid $bs-gray2;
      transition: .15s;
  
      &:hover{
        background-color: rgb(250, 250, 250);
      }
    }
  
    .selected{
      border: 1px solid $bs-blue;
      border-right: 1px solid $bs-white;
      margin: 10px 0px 0px 20px;
    }
  }
  
  // tabs
  
  .tabs-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
  
    input[type="radio"] {
      display: none;
    }
  
    .tab-label {
      height: 40px;
      padding: 5px 18px;
      border: 1px solid $bs-gray2;
      cursor: pointer;
  
      transition: 0.15s;
      
      &:hover{
        background-color: $bs-gray1;
      }
    }
  
    .tab {
      display: none;
    }
  
    input[type='radio']:checked + .tab-label + .tab {
      margin: -1px 0 0 0;
      width: 100%;
      height: 100%;
      order: 1;
      display: flex;
      flex-grow: 1;
      border: 1px solid $bs-gray2;
    }
  
    input[type="radio"]:checked + .tab-label {
      border: 1px solid $bs-blue;
    }
  
    .details-tab{
      padding: 20px;
  
      .recommendation-details{
        display: flex;
        flex-direction: column;
  
        h4{
          font-style: italic;
        }
  
        p{
          padding: 5px;
        }
  
        .recommendation-details-column-container{
          display: flex;
          flex-direction: row;
  
          .recommendation-details-column{
            display: flex;
            flex-direction: column;
            padding-right: 30px;
            max-width: 450px;
            min-width: 250px;
          }
        }
      }
    }
  }