// case

#case {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  flex-grow: 1;
  overflow-y: hidden;

  .btn-return {
    display: flex;
    align-items: center;
    width: max-content;
  }
}

.case-small-text {
  display: flex;

  small {
    padding: 0px 40px 0 0
  }
}

.case-top {

  .stats-card {
    align-items: flex-start !important;
    justify-content: flex-start !important;

    p,
    small {
      white-space: nowrap;
    }

    &.case-information {
      margin-right: 0;
      overflow: auto;
    }
  }

  .case-performance {
    padding-right: 50px
  }

  .case-recommendations {
    margin-left: 5px;
  }
}


// tabs

.tabs-component {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  .tabs-component-panels {
    display: flex;
    flex-grow: 1;
  }

  .tabs-component-panel {
    width: 100%;
    height: 100%;
    order: 1;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .tabs-component-tabs {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

    .tabs-component-tab {
      padding: 0px 5px;
      border-bottom: 2px solid $k-gray2;
      transition: 0.2s;
      list-style-type: none;

      &:hover {
        cursor: pointer;
        filter: brightness(98%);
      }

      &.is-active {
        color: $k-blue;
        border-bottom: 2px solid $k-blue;
      }
    }

  }


}