#log-columns{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .log-table{
        display: flex;
        flex-direction: column;
        background-color: $k-white;
        max-width: 90vw;
        border-radius: 10px;

        tr .btn-blue{
            filter: opacity(50%);

            &.selected{
                filter: none;
            }
        }

    }
    .buttons{
        display: flex;
        justify-content: flex-start;
        background-color: $k-gray1;

        .btn-blue{
            margin: 10px !important;
        }
    }
}