#log-columns{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .log-table{
        display: flex;
        flex-direction: column;
        background-color: $bs-white;
        border-radius: 10px;
        max-width: 90vw;

        tr .btn-blue{
            filter: opacity(50%);

            &.selected{
                filter: none;
            }
        }

        .buttons{
            display: flex;
            justify-content: flex-end;
            
            .btn-blue{
                margin: 10px !important;
            }
        }
    }
}