#log-columns {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    .log-table {
        display: flex;
        flex-direction: column;
        max-width: 90vw;

        table {
            border-radius: 10px;
            border-collapse: separate;
            box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.05);

            tr {
                .btn-blue {
                    filter: opacity(50%);

                    &.selected {
                        filter: none;
                    }
                }
            }

            .dropdown {
                &.cost-unit {
                    z-index: -1;
                    padding: 0px 10px;
                    margin: 0px;
                    max-height: 0px;
                    transition: all 0.3s;
                    visibility: collapse;
                    border: 0;

                    &.active {
                        z-index: 0;
                        padding: 5px 10px;
                        margin: 10px 0px 0px 0px;
                        max-height: 400px;
                        visibility: visible;
                        border: 1px solid $k-gray2;
                    }
                }
            }

        }


    }

    .buttons {
        display: flex;
        justify-content: flex-start;

        .btn-blue {
            margin: 10px !important;
        }
    }
}