#dashboard {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .status-icon {
        width: 21px;
        height: 21px;
        margin-right: 4px;
    }

    * {
        margin-bottom: 5px;
    }

    .log-card {
        display: flex;
        flex-direction: column;
        height: max-content;

        &.selected {
            background-color: $k-blue4;
        }

        &:hover {
            filter: brightness(99%);
            cursor: pointer;
        }
    }

    .parameter {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .select-view {
        display: flex;
        align-items: center;

        input[type="radio"] {
            accent-color: $k-blue;
            margin: 0px 5px 5px 0px;
        }
    }

    input[type='text'] {
        padding: 10px !important;
        border-radius: 8px 0px 0px 8px;

        &:focus{
            outline: none;  
            box-shadow: 0 -1px 0 0 $k-blue, 
                        -1px 0 0 0 $k-blue, 
                        0 1px 0 0 $k-blue; 
            
            &~ .btn-input{
                box-shadow: 0 -1px 0 0 $k-blue, 
                            1px 0 0 0 $k-blue,
                            0 1px 0 0 $k-blue; 
            }
        }
    }

    .btn-input{
        border: 1px solid $k-gray2;
        border-radius: 0px 8px 8px 0px;
        height: 38px;
        cursor: pointer;

        &:hover{
            filter: brightness(90%);
        }
    }

    .log-card {
        background-color: $k-gray2;
        padding: 15px;
        margin-right: 10px;
        border-radius: 5px;
        transition: 0.2s;
    }
    
    .input-icon {
        padding: 10px 7px;
        width: 16px;
        height: 16px;
        color: $k-blue2
    }
}
