.diagram,
.flow-diagram{
    display: flex;
    flex-grow: 1;
    
     *{
        display: flex;
        flex-grow: 1;
    }
}

.diagram{
    .zooming-buttons{
        position: absolute;
        bottom: 5px;
        right: 10px;
        display: flex;
        flex-direction: column;

        ion-icon{
            height: 30px;
            width: 30px;
            cursor: pointer;
            color: $k-gray3;
            padding: 0px;
            margin: 5px;
            border-radius: 15px;
            box-shadow: 0px 0px 5px 2px $k-gray2;
            background-color: $k-white;
            transition: 0.1s;

            &:hover{
                filter: brightness(98%);
            }
        }
    }
}
