
//diagram

.diagram {
    display: flex;
    flex-grow: 1;
    
    .vue-bpmn-diagram-container { 
      flex-grow: 1;
    
      .djs-visual{
        tspan{
          font-family: $bs-font-sans-serif;
        }
      }
      .selected-recommendationnode .djs-visual > rect,
      .selected-recommendationnode .djs-visual > circle {
          stroke: $bs-blue !important;
        
      }
    }
  }
  
  
  // recommendationnode
  
  .recommendationnode .djs-visual {
    > rect,
    > circle {
      stroke: rgba(173, 173, 173, 0.7) !important;
      stroke-dasharray: 4 4;
    }
  }
  
  // recommendationnode connector
  
  // .djs-group:last-of-type .djs-connection .djs-visual :last-of-type
  //, .djs-group:nth-last-of-type(2) .djs-connection .djs-visual :last-of-type 
  // {
  //   stroke:rgba(173, 173, 173, 0.7) !important;
  //   stroke-dasharray: 5 5;
  // }
  
  // icons (erase for now)
  
  .djs-shape .djs-visual > path {
    stroke: rgba(255, 255, 255,0) !important;
    fill: rgba(255, 255, 255, 0) !important;
  }
  
  // mini-map
  
  .djs-minimap {
    top: 0;
    right: 5px;
  
    .viewport-dom {
    border: solid 1px $bs-blue;
    }
  }
  
  // legend
  
  .legend {
    // box-sizing: border-box;
    padding: 5px 10px 0 0;
  }
  
  .legend .past-activity {
    border-bottom: 2px solid $bs-black;
    margin: 10px 15px;
  }
  
  .legend .recommendation {
    border-bottom: 2px dashed rgb(173, 173, 173);
    margin: 10px 15px;
  }