#loading{
  background-color: $k-white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-icon{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    color: $k-blue;
  }

  .rotate {
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 999;

  &.opaque{
    background: rgba($color: $k-blue3, $alpha: 1);
  }
  &.transparent{
    background: rgba($color: $k-blue3, $alpha: 0.3);
  }
}

