#chat {
    position: absolute;
    bottom: 10px;
    right: 10px;

    .chat-toggle {
        background-color: $k-white;
        box-shadow: 0px 0px 5px 2px #dce0e4;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        width: 100%;
        align-items: center;
        transition: 0.3s;

        ion-icon {
            height: 20px;
            width: 20px;
            color: $k-gray3;
        }

        &.icon-selected {
            background-color: $k-gray2;
        }
    }

    .chat-window {
        position: absolute;
        bottom: 30px;
        right: 30px;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: $k-gray1;
        display: flex;
        flex-direction: column;
        z-index: 3;
        width: 400px;
        box-shadow: 0px 0px 5px 2px #dce0e4;
        height: 60vh;

        $animationTime: 0.8s;
        $dotSize: 10px;

        .loader {
            text-align: center;

            span {
                display: inline-block;
                vertical-align: middle;
                width: $dotSize;
                height: $dotSize;
                background: black;
                border-radius: $dotSize;
                animation: loader $animationTime infinite alternate;
                
                &:nth-of-type(2) {
                    animation-delay: 0.2s;
                }
        
                &:nth-of-type(3) {
                    animation-delay: 0.6s;
                }
            }
        }


        @keyframes loader {
            0% {
                opacity: 0.9;
                transform: scale(0.5);
            }

            100% {
                opacity: 0.1;
                transform: scale(1);
            }
        }

        .messages{
            height: 100%;
            overflow: auto;
            padding: 10px;
        }

        .message {
            position: relative;
            margin: 10px 0px;
            border-radius: 10px;
            max-width: 400px;
            padding: 10px;

            ol,ul{
                padding-left: 15px;
            }
        }

        .assistant-message {
            justify-content: flex-start;

            .message {
                background-color: $k-blue4;
                border-radius: 10px 10px 10px 0;

                &::before {
                    content: "";
                    position: absolute;
                    
                    background-color: rgba(0,0,0,0);
                    bottom: -20px;
                    left: 5px;
                    height: 20px;
                    width: 10px;
                    border-top-left-radius: 10px;
                    box-shadow: 0 -10px 0 0 $k-blue4;
                  }
                
            }
        }
        
        .user-message {
            justify-content: flex-end;
            
            .message {
                background-color: $k-gray2;
                border-radius: 10px 10px 0px 10px;

                &::after {
                    content: "";
                    position: absolute;
                    
                    background-color: rgba(0,0,0,0);
                    bottom: -20px;
                    right: 5px;
                    height: 20px;
                    width: 10px;
                    border-top-right-radius: 10px;
                    box-shadow: 0 -10px 0 0 $k-gray2;
                  }
            }
        }


        .no-messages {
            padding: 10px 10px 20px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .send-icon {
            background-color: $k-white;
            padding: 5px;
            height: 20px;
            width: 20px;
            color: $k-gray3;
            border-radius: 50%;
            border: 1px solid $k-gray2;
            cursor: pointer;
            display: flex;
            margin-left: 5px;
            transition: 0.3s;

            &:hover {
                filter: brightness(96%);
            }
        }

        textarea{
            width: 100%;
            margin: 5px;
        }
    }
}