.operational-view {
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  .case-status{
    display: flex;
    background-color: $k-white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 100px;
    // align-items: center;

    &>.column{
      p{
        white-space: nowrap;
      }
    }
  }

  .case-performance-details{
    display: flex;
    flex-direction: column;
    background-color: $k-white;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    margin-right: 10px;
    height: calc(100vh - 110px - $case-top);

    ion-icon{
      height:20px;
      width:20px;
    }
  }

  .recommendations-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $k-white;
    padding: 15px;
    border-radius: 10px;
    height: calc(100vh - 110px - $case-top);
    overflow-y: auto;

    h4 {
      padding-right: 10px;
    }
  
    .recommendation {
      display: flex;
      flex-direction: row;
      margin: 5px 0px;
      padding: 10px;
      transition: .2s;
      background-color: $k-blue3;
      border-radius: 10px;
      justify-content: space-between;
    }
  
    // .selected{
    //   background-color: $k-blue4;
    // }
  }

}