#parameters{
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;

    .log-card{
        margin: 0;
    }


    .parameter{
        display: flex;
        flex-direction: column;
        padding: 5px 0px;

        select,
        input{
            margin: 5px 0px;

            &:disabled{
                filter: opacity(60%);
            }
        }

        .input-group{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            *{
                padding-right: 10px;
            }

            select,
            input{
                width: 250px;
            }

            .double-input{
                padding: 0px;
                select,
                input{
                    width: 120px;
                }

                input{
                    margin-right: 10px;
                }

            }
        }
    }
    
}