// sidebar container

.sidebar {
  display: flex;
  padding: 10px 10px;
  flex-direction: column;
  flex-grow: 1;
  max-width: 220px;
  min-width: 220px;
  height: 100vh;

  ion-icon{
    width: 20px;
    height: 20px;
    padding: 5px;
    transition: 0.2s;
  }
  .sidebar-heading{
    padding: 5px 20px 5px 10px;
    display: flex;
    align-items: center;
  }

  .sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    flex-grow: 1;

    &>*{
      padding-top: 30px;
    }
    
    // sidebar items container
    .sidebar-items {
      // margin-top: 30%;
      // padding: 0;
      display: flex;
      flex-direction: column;
    }
    
    // sidebar item
    
    .sidebar-item {
      background-color: $k-gray1;
      border: none;
      padding: 10px;
      text-decoration: none;
      white-space: nowrap;
      display: flex;
      align-items: center;
      border-radius: 5px;
      transition: 0.2s;
      color: $k-blue2;
      cursor: pointer;
      margin: 2px 0px;

      &.sub-item{
        margin-left: 20px;
        padding: 5px;
      }
      
      &:hover{
      background-color: $k-white;
      color: $k-black;
      }  
  
      &.router-link-active,
      &.active{
        background-color: $k-white;
        box-shadow: 0px 1px 5px $k-gray2;
        color: $k-black;
        z-index: 2;
  
        ion-icon{
          color: $k-white;
          background-color: $k-blue;
          box-shadow: none;
        }
      }
  
      ion-icon{
        margin-right: 10px;
        background-color: $k-white;
        border-radius: 5px;
        box-shadow: 0px 1px 5px $k-gray2;
      } 
    }  

    // switch views

    .switch-views{
      display: flex;
      flex-direction: column;
    }
  }
  
  }