// sidebar container

.sidebar {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;

  ion-icon{
    width: 20px;
    height: 20px;
    padding: 5px;
  }
  
  }

  .sidebar-heading{
    padding: 5px 20px 5px 10px;
    display: flex;
    align-items: center;
  }
  
  // sidebar items container
  .sidebar-items {
    margin-top: 30%;
    // padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  // sidebar item
  
  .sidebar-item {
    color: $bs-black;
    padding: 10px 30px 10px 10px;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 0.2s;
    color: $bs-faded-blue;
    
    &:hover{
    background-color: $bs-white;
    color: $bs-black;
    }  

    &.active{
      background-color: $bs-white;
      box-shadow: 0px 1px 5px $bs-gray2;
      color: $bs-black;
      z-index: 999;

      ion-icon{
        color: $bs-white;
        background-color: $bs-blue;
        box-shadow: none;
      }
    }

    ion-icon{
      margin-right: 10px;
      background-color: $bs-white;
      border-radius: 5px;
      box-shadow: 0px 1px 5px $bs-gray2;
    }
  }
  
  
  