/*
This file contains global styles that
we intend to use throughout the project.
*/

/*
We can import the variables from one file
that contains all the variables.
*/
@import 'variables.scss';
@import 'sidebar.scss';
@import 'case.scss';
@import 'cases.scss';
@import 'operationalView.scss';
@import 'analyticalView.scss';
@import 'diagram.scss';
@import 'loading.scss';
@import 'home.scss';
@import 'columns.scss';
@import 'dashboard.scss';
@import 'parameters.scss';
@import 'error.scss';
@import 'tooltip.scss';
@import 'notification.scss';
@import 'modal.scss';
@import 'casesTable.scss';
@import 'vueSelect.scss';
@import "@vueform/toggle/themes/default.css";
@import "@vueform/slider/themes/default.css";
@import 'vue-select/dist/vue-select.css';


#app {
  display: flex;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $k-font-sans-serif;
  font-size: 1rem;
  font-weight: 400;
  // line-height: 1.5;
  background-color: $k-gray1;
}


*,
::after,
::before {
  box-sizing: border-box;
  color: $k-black;
  padding: 0;
  margin: 0;
}

small {
  color: $k-blue2;
}

p,
th,
a,
div {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $k-black;
  cursor: pointer;
}

th {
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  color: $k-blue2;
  background-color: $k-white !important;
  border: none !important;
  border-radius: 5px;
}

table {
  background-color: $k-white;
  border-collapse: collapse;
  border-radius: 10px;
}

.vtl {
  border-radius: 10px;

  @media (max-width: 900px) {

    .vtl-paging {
      flex-direction: column;
    }
  }

  .vtl-paging {

    &>* {
      float: none;
    }

    select {
      border-radius: 5px !important;
      margin: 0px 5px;
    }
  }

  th div {
    color: $k-blue2;
  }
}

td {
  border: none !important;
  border-top: 1px solid $k-gray1 !important;
}

td,
th {
  padding: 10px 10px;
  text-align: left;
}

.case-recommendations {
  border-radius: 5px;
  color: $k-white;
  padding: 0px 10px;
  width: fit-content;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &.available {
    background: linear-gradient(135deg, $k-green1 5%, $k-green2 100%);
  }

  &.unavailable {
    background: linear-gradient(135deg, #AAAAAA 0%, #979797 100%);
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.shadow {
  box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
}

.bold {
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.content-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.wrap {
  flex-wrap: wrap;
}

.divider {
  height: 2px;
  background-color: $k-blue2;
  margin: 5px 0px;
  border-radius: 2px;
}

.warning {
  color: $k-red;
}

.blue {
  color: $k-blue;
}

.blue2 {
  color: $k-blue2;
}

.black {
  color: $k-black
}

.green {
  color: $k-green2
}

.background-purple {
  background-color: $k-purple;
}

.background-blue5 {
  background-color: $k-blue5;
}

.background-orange2 {
  background-color: $k-orange2;
}

#resources {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

select,
input {
  padding: 5px;
  border: 1px solid $k-gray2;
  border-radius: 8px;
  margin: 0px;

  &:focus {
    outline: 2px solid $k-blue;
  }
}

input::placeholder {
  color: $k-gray2;
}

.btn-blue {
  color: $k-white;
  background-color: $k-blue;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-size: 0.7rem;
  width: max-content;
  transition: 0.1s;
  cursor: pointer;

  &.margin-left {
    margin-left: 10px;
  }

  &.margin-top {
    margin-top: 10px;
  }

  &:hover {
    filter: brightness(93%);
  }

  &:active {
    filter: brightness(85%);
  }

  &:disabled {
    filter: opacity(50%);
    cursor: auto;
  }
}

.toggle-container {
  &:focus {
    outline: none;
    box-shadow: none;
  }

  .toggle-on {
    background: $k-blue;
    border-color: $k-blue;
  }
}

.cases-table,
.recommendations-table {
  display: flex;
  flex: 1;
  align-items: flex-start;
  margin-top: 10px;

  &.hide-paging {
    .vtl-paging {
      display: none;
    }
  }

  .vtl {
    flex: 1;
    box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.05);

    tr {
      cursor: pointer;
      padding: 10px 0px;

      &.clicked-row {
        background-color: $k-blue4;
      }

      &.last-clicked-row {
        background-color: $k-gray2;
      }
    }
  }
}

.vtl-table {
  transition: 0.5s;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

.vtl-paging {
  padding: 0px 10px 10px 10px;
  align-items: center;
}

.vtl-loading-mask {
  background-color: rgba($color: $k-white, $alpha: 0.6) !important;
  border-radius: 10px;

  span {
    color: $k-blue !important;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.slider-target {
  width: 200px;
  padding-right: 10px;
  z-index: 0;

  .slider-connect {
    background-color: $k-blue;
  }

  .slider-tooltip {
    background-color: $k-blue;
    border: 1px solid $k-blue;

    &::before {
      border-bottom-color: $k-blue !important;
    }
  }

}

@media (max-width: 800px) {

  .stats {
    flex-wrap: wrap;
  }
}

.stats {
  display: flex;

  .btn-blue {
    margin: 20px 20px 10px 0px;
  }

  .stats-card {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px 10px 0px 0px;
    background-color: $k-white;
    box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.05);
    color: $k-black;
    border-radius: 10px;
    transition: 0.2s;
    height: max-content;

    .target-value {
      white-space: nowrap;
    }

    &.wrap-text {
      small {
        min-width: 100px;
        max-width: 120px;
      }
    }

    .large-number {
      padding: 4px 12px;
      border-radius: 8px;
      margin-left: 5px;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

      &.bg-green {
        background-color: $k-green2;
      }

      &.bg-gray {
        background-color: $k-gray2;
      }
    }


    &.selected {
      background-color: $k-blue4;
    }

    .column {
      padding: 0px 20px 0 0;

      * {
        padding: 0;
        margin: 0;
      }

    }

    ion-icon {
      color: $k-white;
      background-color: $k-blue;
      width: 20px;
      height: 20px;
      padding: 5px;
      border-radius: 5px;
      margin-top: 10px;
    }
  }

  span {
    padding: 10px 40px 20px 5px
  }
}

.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}