/*
This file contains global styles that
we intend to use throughout the project.
*/

/*
We can import the variables from one file
that contains all the variables.
*/
@import 'variables.scss';
@import 'sidebar.scss';
@import 'case.scss';
@import 'tooltip.scss';
@import 'operationalView.scss';
@import 'analyticalView.scss';
@import 'cytoscape.scss';

#app{
  display: flex;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $bs-font-sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $bs-white;
}

*, ::after, ::before {
  box-sizing: border-box;
}

small{
  color: $bs-gray3;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  margin: 5px
}

p {
  margin: 0;
}

a{
  text-decoration: none;
  color: $bs-black;
}

th {
  font-weight: normal;
  background-color: $bs-gray2;
}

table {
  border-collapse: collapse;
  margin: 0px;
}

td, th {
  border: 1px solid rgb(196, 196, 196);
  padding: 6px 10px;
  text-align: center;
}

.stats{
  display: flex;

  span{
    padding: 10px 40px 20px 5px
  }
}

// Cases
#cases {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cases-table{
  display:flex;
  flex: 1;
  align-items: flex-start;

  table{
    width: 100%;
  }
}

#home{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#resources{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}