/*
This file contains global styles that
we intend to use throughout the project.
*/

/*
We can import the variables from one file
that contains all the variables.
*/
@import 'variables.scss';
@import 'sidebar.scss';
@import 'case.scss';
@import 'cases.scss';
@import 'operationalView.scss';
@import 'analyticalView.scss';
@import 'cytoscape.scss';
@import 'loading.scss';
@import 'home.scss';
@import 'csv.scss';
@import 'dashboard.scss';
@import 'parameters.scss';


#app{
  display: flex;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $bs-font-sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $bs-gray1;
}


*, ::after, ::before {
  box-sizing: border-box;
  color: $bs-black;
  padding: 0;
  margin: 0;
}

small{
  color: $bs-blue2;
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

p,th,a,div {
  font-size: 14px;
}

a{
  text-decoration: none;
  color: $bs-black;
  cursor: pointer;
}

th {
  font-weight: bold;
  text-transform: uppercase;
  color: $bs-blue2;
}

table {
  background-color: $bs-white;
  border-collapse: collapse;
  border-radius: 10px;

}

td{
  border-top: 1px solid $bs-gray1;
}

td, th {
  padding: 10px 10px;
  text-align: center;
}

.status{
  border-radius: 5px;
  color: $bs-white;
  text-transform: uppercase;
  display: inline;
  padding: 0px 5px;
  
  &.open{
    background: linear-gradient(135deg, $bs-green1 5%, $bs-green2 100%);
  }

  &.completed{
    background: linear-gradient(135deg, #EC722D 0%, #EC2D2D 100%, #CF1010 100%);    }
}

.shadow{
  box-shadow: 0px 10px 27px rgba(0, 0, 0, 0.05);
}

.bold{
  font-weight: bold;
}
.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.center{
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.divider{
  height: 2px;
  background-color: $bs-blue2;
  margin: 5px 0px;
  border-radius: 2px;
}

.warning{
  color: $bs-red;
}

.bold-blue{
  font-weight: bold;
  color: $bs-blue;
} 

#resources{
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

