$k-blue: #074EE8;
$k-blue2: #8392AB;
$k-blue3: #F8F9FA;
$k-blue4: #EBF0FF;
$k-blue5: #56CCF2;
$k-purple: #BB6BD9;
$k-red: #F5222D;
$k-orange: #fd7e14;
$k-orange2: #F2994A;
$k-green1: #82D616;
$k-green2: #17ad37;
$k-green3: #efffda;
$k-white: #fff;
$k-gray1: #F8F9FA;
$k-gray2: #dce0e4;
$k-gray3: #7e7e7e;
$k-gray4: #474747;
$k-gray5: #212529;
$k-black: #252F40;

$case-top: 200px;

$k-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$k-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
