/*
In sass one can use variables for colors
so that the color must not be duplicated
and can be easily changed from one place only.
*/

$bs-blue: #074EE8;
$bs-blue2: #67748E;
$bs-red: #F5222D;
$bs-orange: #fd7e14;
$bs-green1: #82D616;
$bs-green2: #17ad37;
$bs-white: #fff;
$bs-gray1: #F8F9FA;
$bs-gray2: #d7d7d7;
$bs-gray3: #7e7e7e;
$bs-gray4: #474747;
$bs-gray5: #212529;
$bs-black: #252F40;
$bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
